In [1]:
import pandas as pd
df=pd.read_csv("car_main.csv")
df.head(5)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [1]:
import os

In [2]:
import numpy as np
numerical = df.select_dtypes(include=np.number)
categorical=df.select_dtypes(exclude=np.number)

In [3]:
numerical=numerical.drop(["Owner"],1)

In [4]:
df_n = np.log(numerical)

In [5]:
df_n.head(20)

        Year  Selling_Price  Present_Price  Kms_Driven
0   7.607878       1.208960       1.720979   10.203592
1   7.607381       1.558145       2.255493   10.668955
2   7.609367       1.981001       2.287471    8.839277
3   7.606387       1.047319       1.423108    8.556414
4   7.607878       1.526056       1.927164   10.656082
5   7.609862       2.224624       2.285439    7.635787
6   7.608374       1.909543       2.094330    9.841399
7   7.608374       1.871802       2.152924   10.417179
8   7.608871       2.169054       2.184927    9.917045
9   7.608374       2.008214       2.188296   10.654125
10  7.609367       1.047319       1.280934    7.666222
11  7.608374       1.924249       2.339881   10.839581
12  7.608374       2.014903       2.296567    9.615805
13  7.608374       1.808289       2.042518   10.165852
14  7.605392       0.810930       1.975469   11.257091
15  7.608871       2.047693       2.378620   10.668955
16  7.608374       1.981001       2.378620   10.637729
17  7.608871       2.047693       2.378620   10.668955
18  7.608374       1.178655       1.627278   10.477288
19  7.605890       0.974560       2.076938   10.632050

In [7]:
df=df.drop(["Selling_Price","Present_Price","Kms_Driven","Year"],1)

In [8]:
df_new=pd.concat([df,df_n],1)

In [9]:
X=df_new.drop(["Selling_Price"],1)

In [10]:
X=pd.get_dummies(X)

In [11]:
y=df_new["Selling_Price"]

In [12]:
from sklearn.model_selection import train_test_split as tts
X_train, X_test, y_train, y_test = tts(X, y, test_size=0.33, random_state=42)

In [13]:
from sklearn.linear_model import Ridge
from sklearn.model_selection import cross_val_score

In [14]:
rr = Ridge(alpha=0.01)
rr.fit(X_train, y_train)
rr.score(X_test, y_test)

0.9367081638841964

In [15]:
from sklearn.linear_model import RidgeCV
clf = RidgeCV(alphas=[1e-3, 1e-2, 1e-1, 1]).fit(X, y)

In [16]:
clf.score(X,y)

0.973589669134744

In [17]:
from sklearn.linear_model import Lasso

In [18]:
la = Lasso(alpha=0.01)
la.fit(X_train, y_train)
la.score(X_test, y_test)

0.9347417446876439

In [19]:
from sklearn.linear_model import LassoCV
lav = LassoCV(alphas=[1e-3, 1e-2, 1e-1, 1]).fit(X,y)

D:\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)

In [20]:
la.score(X,y)

0.9480345107006893

In [1]:
from sklearn.linear_model import LinearRegression

In [2]:
lg=LinearRegression()

In [3]:
lg.fit(X_train,y_train)

NameError: name 'X_train' is not defined